@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<style>
    body{
        background-image:url("https://previews.123rf.com/images/mangpor2004/mangpor20041704/mangpor2004170400199/77117357-hand-holding-smart-phone-over-blur-supermarket-store-background-online-shopping-digitalmarketing-e-c.jpg");
        background-position: center;
        background-size:cover; 
    }
</style>

        <div class="text-center">
            <h1 >Welcome To Smart Store</h1>
        </div>
        